@use 'utilities';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: utilities.$fontPrincipal;
    
}
body {
    background-color: utilities.$corDeFundo;
}

//Text Class
.text--big {
    @include utilities.text(18px);
}
.text--medium {
    @include utilities.text;
}
.text--small {
    @include utilities.text(12px);
}

//Titles Class
.title--big {
    @include utilities.title(18px);
}
.title--medium {
    @include utilities.title;
}
.title--small {
    @include utilities.title(12px);
}

.link-text {
    @include utilities.text(18px);
    color: utilities.$corTextoSecundario;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: utilities.$corTextoSecundario;
    background-color: utilities.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid  utilities.$corDeFundoBotaoPrimario;

    &:hover {
        background-color: lighten(utilities.$corDeFundoBotaoPrimario, 3%);
    }

    &--secondary {
        background-color: utilities.$corDeFundoBotaoSecundario;
        border-color: utilities.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: lighten(utilities.$corDeFundoBotaoSecundario, 3%);
        }
    }

    &--dark {
        background-color: rgba(utilities.$corDeFundoBotaoDark, 0.8);
        border-color: utilities.$corTextoSecundario;

        &:hover {
            background-color: utilities.$corTextoSecundario;
            color: utilities.$corDeFundo;
        }
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}
